<div id="avatars-show">
  <div>
    <img src="../avatars/1.JPG" data-avatar_id="1" alt="avatar ex. 1" />
    <img src="../avatars/2.JPG" data-avatar_id="2" alt="avatar ex. 2" />
    <img src="../avatars/3.JPG" data-avatar_id="3" alt="avatar ex. 3" />
    <img src="../avatars/4.JPG" data-avatar_id="4" alt="avatar ex. 4" />
    <img src="../avatars/5.JPG" data-avatar_id="5" alt="avatar ex. 5" />
    <img src="../avatars/6.JPG" data-avatar_id="6" alt="avatar ex. 6" />
    <img src="../avatars/7.JPG" data-avatar_id="7" alt="avatar ex. 7" />
    <img src="../avatars/8.JPG" data-avatar_id="8" alt="avatar ex. 8" />
    <img src="../avatars/9.JPG" data-avatar_id="9" alt="avatar ex. 9" />
    <img src="../avatars/10.JPG" data-avatar_id="10" alt="avatar ex. 10" />
    <img src="../avatars/11.JPG" data-avatar_id="11" alt="avatar ex. 11" />
    <img src="../avatars/12.JPG" data-avatar_id="12" alt="avatar ex. 12" />
    <img src="../avatars/13.JPG" data-avatar_id="13" alt="avatar ex. 13" />
    <img src="../avatars/14.JPG" data-avatar_id="14" alt="avatar ex. 14" />
    <img src="../avatars/15.JPG" data-avatar_id="15" alt="avatar ex. 15" />
    <img src="../avatars/16.JPG" data-avatar_id="16" alt="avatar ex. 16" />
    <img src="../avatars/17.JPG" data-avatar_id="17" alt="avatar ex. 17" />
    <img src="../avatars/18.JPG" data-avatar_id="18" alt="avatar ex. 18" />
  </div>
  <div>
    <button class="bb skip">Skip</button>
    <button class="bb save">Save</button>
  </div>
</div>
