<% const msg = locals.message_to_delete%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ban user</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      type="text/javascript"
      src="/javascripts/avatarChoosing.js"
      defer
    ></script>
  </head>
  <body>
    <div id="root">
      <%- include("./partials/header.ejs", {logged: locals.logged}) %>
      <main>
        <article>
          <div class="goback">
            <a href="/tms-mms"> Go Back &#8617; </a>
          </div>
          <br />
          <p>you are about to ban : <%= locals.user.fullName %></p>
          <div>
            <p>you want to ban <%= locals.user.email %> ?</p>
            <form method="POST">
              <button type="submit">Confirm</button>
            </form>
          </div>
        </article>
      </main>
      <%- include("./partials/footer.ejs")%>
    </div>
  </body>
</html>
